<!DOCTYPE html>
<html lang="pt-br" data-theme="nord">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fredly</title>
</head>
<body>

    <div class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl ">Fredly</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <button class="btn btn-neutral">Entrar</button>
            </ul>
        </div>
    </div>

    <div>
        <h1 style="font-size: xx-large;">Sistema de<br>Gerenciamento de<br>Eventos</h1>
        <p style="font-size: x-large;"><strong>Transforme seus eventos em experiências inesquecíveis!</strong><br>Seja uma festa, conferência, casamento ou evento corporativo — nós te<br>
            a planejar, organizar e gerenciar cada detalhe. Com nossa<br>
            plataforma intuitiva, você tem controle total do seu evento em um só lugar:<br>
            convidados, cronograma, orçamento, fornecedores e muito mais.<br>
            <strong>Comece agora e torne seu próximo evento um sucesso.</strong></p>
    </div>

    <div>
        <button class="btn btn-primary">Comece agora!</button>
        <button class="btn btn-primary">Entrar</button>
    </div>

</body>
</html>