<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
   
    <div class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl ">Fredly</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <p><strong>Não tem conta?</strong></p>
                <button class="btn btn-neutral">Comece agora!</button>
            </ul>
        </div>
    </div>
    
    <div>
        <h1>Seus eventos em um<br>Passe de mágica!</h1>
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
          
            <label class="label">Informe seu e-mail</label>
            <input type="email" class="input" placeholder="E-mail" />

            <label class="label">Informe sua senha</label>
            <input type="password" class="input" placeholder="Senha" />

    </div>

</body>
</html>