<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl ">Fredly</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <p><strong>Já tem conta?</p>
            <button class="btn btn-neutral">Entrar</button>
        </ul>
    </div>
</div>
<body>
    <form action="" class="mx-auto mt-8 w-lg">
        <h2 class="text-2xl font-bold text-primary">Cadastra-se Grátis!</h2>
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
            <legend class="fieldset-legend">Login</legend>
         
            <label class="label">Informe seu nome completo</label>
            <input type="text" class="input" placeholder="Nome Completo" />
 
            <label class="label">Informe seu e-mail</label>
            <input type="email" class="input" placeholder="E-mail" />
 
            <div class="grid grid-cols-2 gap-4">
                <label class="label">Informe seu CPF ou CNPJ</label>
                <input type="number" class="input" placeholder="CPF ou CNPJ" />
 
                <label class="label">Informe seu DDD + número</label>
                <input type="number" class="input" placeholder="DDD + número" />
            </div>
 
            <label class="label">Informe seu CPF ou CNPJ</label>
            <input type="number" class="input" placeholder="CPF ou CNPJ" />
 
            <label class="label">Crie uma senha de acesso</label>
            <input type="password" class="input" placeholder="Senha" />
 
            <label class="label">Confirme sua senha</label>
            <input type="password" class="input" placeholder="Senha" />
         
            <button class="btn btn-neutral mt-4">Comece agora!</button>
          </fieldset>
    </form>
</body>
</html>