<!DOCTYPE html>
<html lang="pt-br" data-theme="nord">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fredly</title>
</head>
<body>
    <div class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl ">Cadastro de Eventos</a>
        </div>
        <div class="avatar">
            <div class="w-12 rounded-full">
              <img src="https://images.icon-icons.com/2859/PNG/512/avatar_face_girl_female_woman_profile_smiley_happy_people_icon_181665.png" />
            </div>
          </div>
    </div>
    
    <form method="post">
        Nome do Evento: <input type="text" value="" name="nome"/><br>
        <br>
        Local do Evento: <input type="text" value="" name="local"/><br>
        <br>
        Data do Evento: <input type="date" value="" name="data"/><br>
        <br>
        Horário do Evento: <input type="text" value="" name="horario"/><br>
        
        <button class="btn btn-success" type="submit">Salvar</button>

    </form>
   
</body>
</html>
 