<!DOCTYPE html>
<html lang="pt-br" data-theme="nord">
<head>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
 
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
 
<body class="bg-base-200 min-h-screen centralized-flex">
 
  <div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <a class="text-l font-bold">Fredly</a>
    </div>
  </div>
 
  <form class="bg-white p-6 rounded-lg shadow-md" method="get">
      <fieldset class="border border-gray-300 p-4 rounded-lg">
        <legend class="text-lg font-semibold text-gray-700">Login</legend>
 
        <div class="form-control mb-4">
          <label class="label">
            <span class="label-text">E-mail</span>
          </label>
          <input type="email" placeholder="Digite seu e-mail" class="input input-bordered w-full" required>
        </div>
 
        <div class="form-control mb-4">
          <label class="label">
            <span class="label-text">Senha</span>
          </label>
          <input type="password" placeholder="Digite sua senha" class="input input-bordered w-full" required>
        </div>
 
        <button type="submit" class="btn btn-primary w-full">Entrar</button>
 
        <p class="mt-4 text-sm text-center text-gray-500">
          Não tem uma conta? <a href="/cadastrarUsuario" class="text-blue-500 hover:underline">Cadastre-se</a>
        </p>
      </fieldset>
    </form>
  </div>
 
</body>
</html>
 